# Matikan paksaan HTTPS di .htaccess (biarkan Traefik/Coolify yang urus)
RewriteEngine On

# Pengecualian script
RewriteRule ^callback\.php$ - [L]
RewriteRule ^ajax/loadgame/fetch_games\.php$ - [L]

# Redirect ke non-.php URL
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^(.+)\.php$ /$1 [R=301,L]

# Tampilkan file .php tanpa ekstensi
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
