RewriteEngine on
RewriteRule ^/?$ index.php [L]
RewriteRule ^masuk?$ masuk.php [L]
RewriteRule ^verifikasi?$ verifikasi.php [L]
RewriteRule ^([0-9a-zA-Z_-]+)?$ index.php?halaman=$1 [L]
RewriteRule ^ubah_anggota/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_anggota&id_anggota=$1 [L]
RewriteRule ^ubah_saldo/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_saldo&id_anggota=$1 [L]
RewriteRule ^saldo/([0-9a-zA-Z_-]+)?$ index.php?halaman=saldo&id_anggota=$1 [L]
RewriteRule ^hapus_anggota/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_anggota&id_anggota=$1 [L]
RewriteRule ^ubah_deposit/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_deposit&id_deposit=$1 [L]
RewriteRule ^hapus_deposit/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_deposit&id_deposit=$1 [L]
RewriteRule ^ubah_withdraw/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_withdraw&id_withdraw=$1 [L]
RewriteRule ^hapus_withdraw/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_withdraw&id_withdraw=$1 [L]
RewriteRule ^ubah_rekening/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_rekening&id_rekening=$1 [L]
RewriteRule ^hapus_rekening/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_rekening&id_rekening=$1 [L]
RewriteRule ^ubah_promosi/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_promosi&id_promosi=$1 [L]
RewriteRule ^hapus_promosi/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_promosi&id_promosi=$1 [L]
RewriteRule ^ubah_staff/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_staff&id_staff=$1 [L]
RewriteRule ^hapus_staff/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_staff&id_staff=$1 [L]
RewriteRule ^ubah_ikon_mengambang/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_ikon_mengambang&id_ikon_mengambang=$1 [L]
RewriteRule ^hapus_ikon_mengambang/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_ikon_mengambang&id_ikon_mengambang=$1 [L]
RewriteRule ^ubah_bonus/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_bonus&id_bonus=$1 [L]
RewriteRule ^hapus_bonus/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_bonus&id_bonus=$1 [L]
RewriteRule ^ubah_bukti_jp/([0-9a-zA-Z_-]+)?$ index.php?halaman=ubah_bukti_jp&id_bukti_jp=$1 [L]
RewriteRule ^hapus_bukti_jp/([0-9a-zA-Z_-]+)?$ index.php?halaman=hapus_bukti_jp&id_bukti_jp=$1 [L]

RewriteRule ^anggota/([0-9a-zA-Z_-]+)?$ index.php?halaman=anggota&halaman_item=$1 [L]
RewriteRule ^anggota/cari_anggota/([0-9a-zA-Z_-]+)?$ index.php?halaman=anggota&nama_pengguna_anggota=$1 [L]
RewriteRule ^anggota_promotor/cari_anggota/([0-9a-zA-Z_-]+)?$ index.php?halaman=anggota&nama_pengguna_anggota=$1 [L]
RewriteRule ^bank/([0-9a-zA-Z_-]+)?$ index.php?halaman=bank&halaman_item=$1 [L]
RewriteRule ^bank/cari_bank/([0-9a-zA-Z_-]+)?$ index.php?halaman=bank&atas_nama_bank=$1 [L]

RewriteRule ^deposit/([0-9a-zA-Z_-]+)?$ index.php?halaman=deposit&halaman_item=$1 [L]
RewriteRule ^deposit/cari_deposit/([0-9a-zA-Z_-]+)?$ index.php?halaman=deposit&kode_deposit=$1 [L]

RewriteRule ^withdraw/([0-9a-zA-Z_-]+)?$ index.php?halaman=withdraw&halaman_item=$1 [L]
RewriteRule ^withdraw/cari_withdraw/([0-9a-zA-Z_-]+)?$ index.php?halaman=withdraw&kode_withdraw=$1 [L]

RewriteRule ^([0-9a-zA-Z_-]+)/filter/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)?$ index.php?halaman=$1&bulan_pengunjung=$2&tahun_pengunjung=$3 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)?$ index.php?halaman=$1&kategori_rekening=$2 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/kategori/([0-9a-zA-Z_-]+)?$ index.php?halaman=$1&link_menu_games=$2 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/kategori/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)?$ index.php?halaman=$1&link_menu_games=$2&link_sub_menu_games=$3 [L]
RewriteRule ^([0-9a-zA-Z_-]+)/kategori/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)?$ index.php?halaman=$1&link_menu_games=$2&link_sub_menu_games=$3&link_games=$4 [L]